[submodule "Assets/Scripts/KingdomsSharedCode"]
	path = Assets/Scripts/KingdomsSharedCode
	url = https://github.com/louvekingdoms/KingdomsSharedCode
[submodule "Assets/Scripts/RelayServer"]
	path = Assets/Scripts/RelayServer
	url = https://github.com/louvekingdoms/RelayServer
[submodule "Assets/Scripts/Network/RelayServer"]
	path = Assets/Scripts/Network/RelayServer
	url = https://github.com/louvekingdoms/RelayServer
